# ==============================================================================
# STM32CubeIDE & Embedded Toolchain .gitignore
# Csak a hallgatói forráskód és projektkonfiguráció feltöltése engedélyezett!
# ==============================================================================

# 1. Fordítási könyvtárak és kimenetek (Tilos binárisokat feltölteni!)
Debug/
Release/
[Dd]ebug/
[Rr]elease/

# 2. Bináris, tárgy- és leképezési fájlok
*.elf
*.bin
*.hex
*.out
*.o
*.obj
*.d
*.su
*.map
*.a
*.lib

# 3. Eclipse / STM32CubeIDE helyi és ideiglenes fájlok
.metadata/
.settings/language.settings.xml
*.launch.local
*.launch.orig
*.log

# 4. Operációs rendszer szemét
.DS_Store
Thumbs.db
Desktop.ini
*$*
*.tmp
*.bak
*.swp
*~


